.App{
    padding: 0px 100px ;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}

body{
    background-color: rgb(0, 0, 0);
}

.title{
    padding-top: 5px;
    color: rgb(255, 162, 154);
    font-family:'Trebuchet MS', sans-serif
}

.heading{
    font-size: 50px;
}

.movies{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 40px;
}

.movie{
    flex:1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    padding-bottom: 40px;
}

.box{
    width: 400px;
}

.description{
    text-overflow: hidden;
    text-wrap: balance;
    font-size: 19px;
}

img{
    width: 200px;
    height: 300px;
    object-fit: cover;
    background-color: black;
}

.buttons{
    display: flex;
    gap: 10px;
}

.delete{
    border: none;
    padding: 3px 6px;
    background-color: white;
    cursor: pointer;
    border: 2px solid rgb(255, 0, 0);
    border-radius: 50px;
    color: rgb(255, 0, 0);
    font-weight: 900;
    padding: 5px 10px;
}


.update{
    border: none;
    padding: 3px 6px;
    background-color: white;
    cursor: pointer;
    border: 1.5px solid rgb(5, 102, 158);
    color: rgb(5, 102, 158);
    border-radius: 50px;
    padding: 5px 10px;
    font-weight: 900;
}

.delete:hover{
    background-color: rgb(226, 36, 36);
    color: white;
}

.update:hover{
    background-color: rgb(5, 102, 158);
    color: white;
}

.updateLink:visited:hover{
    color:white;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 20px;
}

input{
    width: 260px;
    padding: 10px;
    border: 1px solid rgb(78, 78, 78);
}

input::placeholder {
    opacity: 1;
    color: grey;
    font-size: medium;
  }

.updateButton{
    border: none;
    padding: 10px;
    background-color: rgb(5, 102, 158);
    color: white;
    font-weight: bold;
    font-size: large;
    cursor: pointer;
}

.title2{
    color: white;
    margin-top: 50%;
}

.addButton{
    border: none;
    padding: 10px;
    background-color: rgb(247, 81, 40);;
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-size: large;
}

.addNewMovie{
    padding-bottom: 30px;
}

.mainaddButton{
    border: none;
    padding: 3px 6px;
    background-color: rgb(247, 81, 40);
    cursor: pointer;
    border: 1.5px solid rgb(247, 81, 40);
    color: white;
    border-radius: 50px;
    padding: 10px 20px;
    font-size: larger;
    font-weight: bold;
}

.addLink:visited{
    color: white;
}

